
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% block encabezado %}
<h1> Carga de la Base de datos. Confirmacion </h1>
{% endblock %}
<style> {% block style_css %} 
.button {
  background-color: #0069FF;
  border: none;
  color: white;
  padding:7px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

{% endblock %}</style>

  {% block contenido %}
    <h3>AVISO: Este proceso es lento, borra la base de datos actual y requiere conexion a internet</h3>
    <form id='formulario' method='post' action=''>{% csrf_token %}
		<input type="submit" name="Aceptar" value="Aceptar">
		<input type="submit" name="Cancelar" value="Cancelar">
	</form>
	<a class="button"href='/'>Volver al Inicio</a>
  {% endblock %}
