

{% extends 'base.html' %}

{% block encabezado %}
<h1> Albumes </h1>
{% endblock %}

  {% block contenido %}
			{% for row in albumes %}
			
			    <dt><b>Titulo: </b>{{row.titulo}}</dt>
				<dd> <b>Autores: </b>
					{% for aut in row.autor.all %}
						{{aut.nombre}} 
					{% endfor %}
					</dd>		
				<dt><b>Discográfica: </b>{{row.discografica}}</dt>
				<dt><b>Ranking actual: </b>{{row.ranking}}</dt>
				<dt><b>Premios: </b>{{row.premios}}</dt>
				<dt><b>Semanas en lista: </b>{{row.semanas}}</dt>
				<br>
				<br>
			    	    
			{% endfor %}
  {% endblock %}
