{% extends 'base.html' %}

{% block encabezado %}
<h1> Albumes agrupados por Ranking </h1>
{% endblock %}

{% block contenido %}
			{% regroup album by ranking as grouped %}
	    	{% for group in grouped %}
		    	<h3>Ranking: {{group.grouper}} ({{group.list|length}} album)</h3>
		    		{% for row in group.list %}
			    		<dt><b>Titulo: </b>{{row.titulo}}</dt>
			    		<dd><b>Pais: </b>{{row.pais}} | <b>Director: </b>{{row.director}} | <b>Fecha de Estreno: </b>{{row.fechaEstreno}} </dd>
			    		 <dd><b>Autor: </b>{{row.autor}} | <b>Discografica: </b>{{row.discografica}} | <b>Ranking: </b>{{row.ranking}} </dd>
			    	    	    
			{% endfor %}
		    	</div>
	    	{% endfor %}
{% endblock %}