{% extends 'base.html' %}

{% block encabezado %}
<h1> Busqueda de Albumes por Autores </h1>
{% endblock %}

{% block contenido %}


    	<form id="formulario" method="post" action=''>{% csrf_token %}
    		{{formulario}}
    		<input type='submit' value='Realizar Busqueda'/>
    	</form>
	    
	    <hr>

	    {% if albumes %}
		    <h3> Total de Albumes del autor:  {{ albumes|length }}</h3>

			{% for row in albumes %}
			    <dt><b>Titulo: </b>{{row.titulo}}</dt>
                <dd> <b>Autores: </b>
					{% for aut in row.autor.all %}
						{{aut.nombre}} 
					{% endfor %}
					</dd>
				<dt><b>Discrográfica; </b>{{row.discografica}}</dt>
                <dt><b>Premio: </b>{{row.premios}}</dt>
			{% endfor %}

		{% endif %}
{% endblock %}
