<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <style>
   {% block style_css %}
   .topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #3385FF;
  color: black;
}

.topnav a.active {
  background-color: #3385FF;
  color: white;
}
   {% endblock %}
  </style>
</head>
<body>
  <header> 
  	{% block encabezado %}{% endblock %}
			<div class="topnav"> 
 			<a href='/' class="inicio">Inicio</a>
			<a href='/albumes' class="button">Lista de albumes</a>
			<a href='/album-por-ranking' class="button">Albumes agrupados por ranking</a>
			<a href='/albumes-busqueda-por-premio' class="button">Albumes agrupados por premio</a>
			<a href='/carga' class="button">Cargar la BD</a>
			</div>
	<hr>
  </header>
  <section>
    {% block contenido %}{% endblock %}
  </section>
  {% block pie %}{% endblock %} 
</body>
</html>